{% extends '::base.html.twig' %}

{% block title %}CTP/CNS Simming Results{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                Create Simulation Script
            </div>
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}