{% extends '::base.html.twig' %}
{% block body %}
Hello World!<br/>
    {% for mission in missions %}
        <a href="{{ path('tuo.showmission', {'missionId': mission.id}) }}">
        Link to mission {{ mission.name }}</a><br/>
        {% endfor %}
{% endblock %}