{% extends '::base.html.twig' %}
{% block body %}
    This is the Website for the CarryNoSaints Guild.<br/>
    Here you will see all Simulations done by LokiMcFly
    {% for mission in missions %}
        <a href="{{ path('tuo.showmission', {'missionId': mission.id}) }}">
            Link to mission {{ mission.name }}</a><br/>
    {% endfor %}

    Simulations and website done by LokiMcFly
{% endblock %}