{% extends '::base.html.twig' %}
{% block body %}
    This is the Website for the CarryNoSaints Guild.<br/>

    {% for mission in missions %}
        <a href="{{ path('tuo.showmission', {'missionId': mission.id}) }}">
            Link to mission {{ mission.name }}</a><br/>
    {% endfor %}
{% endblock %}