{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        This is the Website for the CarryNoSaints Guild.<br/>
    </div>
    <div class="row">
        Here you will see all Simulations done by LokiMcFly<br/>
    </div>
    {% for mission in missions %}
        <div class="row">
        <a href="{{ path('tuo.showmission', {'missionId': mission.id}) }}">
            Link to mission {{ mission.name }}</a><br/>
        </div>
    {% endfor %}
    <div class="row">

        Simulations and website done by LokiMcFly<br/>
    </div>
{% endblock %}