{% extends '::base.html.twig' %}

{% block body %}
    Result for {{ mission.name }}<br/>
    {% for result in results %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Player: {{ result.player.name }} with {{ result.percent/10 | number_format(2) }}%<br/>
            </div>
            <div class="panel-body">
                {% for deckEntry in result.deck %}
                    {{ deckEntry.card.name }}<br/>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

