<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans %}
        nav.queue{% endtrans %}<span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% for item in items %}
            {% if item.running %}
                {% set class = "play" %}
            {% elseif item.waiting %}
                {% set class = "pause" %}
            {% elseif item.finished %}
                {% set class = "ok" %}
            {% endif %}
            <li><i class="glyphicon glyphicon-{{ class }}"></i> {{ item.message }}
                <small>by User {{ item.updatedBy.username }}</small>
            </li>
            {% if not loop.last %}
                <li role="separator" class="divider"></li>
            {% endif %}
        {% endfor %}
    </ul>
</li>