{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <h3 class="col-md-6 col-md-offset-3 text-center">
            All Current and Past Players, who were simmed
        </h3>
    </div>

    <div class="row">
        <h3><small>Player Lists</small></h3>
        <ul class="">
            {% for player in players %}
                <li>
                    [{{ player.guild }}] {{ player.name }}
                    <a href="{{ path('loki.tuo.player.cards.show', {'playerId': player.id}) }}">
                        <b>Cards</b>
                    </a>
                    <a href="{{ path('loki.tuo.player.results.show', {'playerId': player.id}) }}">
                        <b>Simulations</b>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </div>

    <div class="row" style="margin-top: 20px;">

        Simulations and website done by LokiMcFly<br/>
    </div>
{% endblock %}