{% extends '::base.html.twig' %}

{% block title %}Results for Player {{ player.name }}{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2 style="margin-top: 0;">Results for {{ player.name }}</h2>
        </div>
    </div>
    {% for result in results %}
        {% include '@LokiTuoResult/partials/showSingleResult.html.twig' with {'result': result} only %}
    {% endfor %}
    <div class="row" style="margin-top: 20px;">
        <div class="pull-left"><a href="{{ path("tuo.index") }}">back to overview</a></div>
    </div>
{% endblock %}
